<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
​
  <title>Sub-Saharan Africa</title>
​

  <!-- Leaflet CSS & JS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
  crossorigin=""></script>

  <!--D3 cdn-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.16.0/d3.js"></script>

​  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

  <!-- Plotly -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <script src="https://d3js.org/d3-transition.v1.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
  
 
</head>

<body>

    <div class= "container-fluid">
      <h1> Foreign Direct Investment in Sub-Saharan Africa</h1>
      <h4> Brought to you by LFG Industries Ltd.</h4>
        <div class="row" id = "banner">
          <h3 class="panel-title">2018 Selected Country Snapshot Data</h3>
          <div id="sample-metadata" class="panel-body">
          
                
              </div>
        </div>

  
    </div>

    
    
      <div id= "dashboard" class= "col-lg-6 container-fluid">
        <div id= "select">
        <h5>Country Name:</h5>
                <select id="selDataset" onchange = "optionChanged(this.value)"></select>
      </div>
        <div class='buttons'>
          <button id="gdp-btn" type="button" class="btn btn-success" >GDP</button>
          <button id="gdp_c-btn" type="button" class="btn btn-success" >GDP/Capita</button>
          <button id="gni_c-btn" type="button" class="btn btn-success" >GNI/Capita</button> 
          <button id="corr-btn" type="button" class="btn btn-warning" >Corruption</button> 
          <button id="ps-btn" type="button" class="btn btn-warning" >Political Stability</button>
          <button id="he-btn" type="button" class="btn btn-warning" >Health Expenditure</button> 
          <button id="edu-btn" type="button" class="btn btn-danger" >Education</button> 
          <button id="hd-btn" type="button" class="btn btn-danger" >Human Development</button>  
        </div>

          <div class="row">
            <div class= "col-lg-12 col-md-12 col-sm-12" >
            <div id="one" ></div>
            </div>
          

          </div>
          
          <div class= "row">
              <div class='col-lg-12 col-md-12 col-sm-12' >
                <div id= "two" ></div>
              </div>
          </div>
              

            <div class= "row">
              <div class='col-lg-12 col-md-12 col-sm-12' >
                <div id= "three" ></div>
              </div>
              

            </div>

            <div class= "row">
              <div class='col-lg-12 col-md-12 col-sm-12' >
                <div id= "four" ></div>
              </div>
              

            </div>
            
        

      
      </div>
      


      <div id="map" class= "col-lg-6 container-fluid justify-content-end"></div>

    </div>
    <script src="{{ url_for('static', filename='js/config.js') }}"></script>
    <script src="{{ url_for('static', filename='js/logic.js') }}"></script>
</body>
</html>
